@charset "UTF-8";

/* =====================================================================
** TOP
===================================================================== */

.top h1 {
    display: none;
}

.top main {
    display: grid;
    grid-template-areas:
        'hero'
        'CONCEPT'
        'WORKS'
        'ABOUT'
        'SERVICE'
        'CONTACT';
    padding-block-start: 5em;
    padding-inline: 0;
}

.top main > section:not(:nth-of-type(1)) {
    padding-inline: 1em;
}

/* hero
===================================================================== */

.top main > section:nth-of-type(1) {
    display: grid; /*上下中央揃え*/
    grid-area: hero;
    align-items: center;
    margin-block-start: 0;
    text-align: center;
    min-block-size: calc(100vh - 5em); /* header 5em */
    place-items: center; /*上下中央揃え*/
}

/* --------------- video --------------- */

.movie {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
}

.movie-video {
    object-fit: cover;
    block-size: 100%;
}

/* --------------- テキスト --------------- */

/*タイプライター*/
.top main > section:nth-of-type(1) > div:nth-of-type(2) > p:nth-of-type(1) {
    font-size: 2em;
    font-weight: bold;
    inline-size: 100%;
    font-family: "Times New Roman", "Georgia", serif;
}

#typewriter::after {
    content: "|";
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Asuka Watanabe*/
.top main > section:nth-of-type(1) > div:nth-of-type(2) > h2 {
    margin-block: 1em;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
}

/*job description*/
.top main > section:nth-of-type(1) > div:nth-of-type(2) > p:nth-of-type(2) {
    font-size: 1.0em;
    opacity: 0; /* 初期状態では透明に設定 */
    animation: fadeIn 4.5s ease-in-out 4.5s forwards; /* アニメーションを適用 */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* アニメーション終了時の透明度を設定 */
    }
}

/* --------------- Scroll --------------- */
.top main > section:nth-of-type(1) > p:last-of-type {
    position: absolute;
    top: 92.5%;
    left: 50%; /*左右の位置を変える*/
    display: block;
    font-size: 0.7em;
    color: var(--color-text-gray);
    writing-mode: vertical-rl;
    transform: translateX(-50%) translateY(-50%);
    animation: fadeIn 4.5s ease-in-out 4.5s forwards; /* アニメーションを適用 */
    opacity: 0; /* 初期状態では透明に設定 */
}

.top main > section:nth-of-type(1) > p:last-of-type::before {
    right: 50%;
    bottom: -120px;
    display: block;
    width: 1px;
    height: 70px;
    content: '';
    background-color: rgb(0 0 0 / 50%);
    transform: translateX(-50%);
}

.top main > section:nth-of-type(1) > p:last-of-type::before {
    animation: scroll 3s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes scroll {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }

    50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    50.1% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}

/* CONCEPT
===================================================================== */

.top main > section:nth-of-type(2) {
    grid-area: CONCEPT;
    inline-size: 100%;
    display: grid;
    grid-template-areas:
        "CONCEPTTITLE"
        "E3"
        "CONCEPTDESC";
    background: no-repeat center/70% 100% url("../images/white-simple-textured-design-background.jpg");
    padding-block: 5em 4em;
}

.top main > section:nth-of-type(2) > h2 {
    grid-area: CONCEPTTITLE;
    align-self: center; /* 中央寄せにする */
}

.top main > section:nth-of-type(2) > ul {
    grid-area: E3;
    block-size: 75vh;
}

.top main > section:nth-of-type(2) > ul > li {
    position: absolute;
    display: flex; /* テキストを中央寄せ */
    justify-content: center; /* テキストを中央寄せ */
    align-items: center; /* テキストを中央寄せ */
    font-size: 1.2em;
    font-family: "Times New Roman", "Georgia", serif; /*タイプライターと同じ*/
    font-weight: bold;
}

.top main > section:nth-of-type(2) > ul > li:nth-of-type(1) {
    inset-inline-start: 0;
    inset-block-start: 0;
    /* background: #dfe0e2; */
    background: #3D3FBA;
    animation: fluidrotate1 35s ease 0s infinite; /*アニメーションの設定*/
    min-inline-size: 55%;
    min-block-size: 55%;

}

@keyframes fluidrotate1 {  
        
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}

.top main > section:nth-of-type(2) > ul > li:nth-of-type(2) {
    inset-inline-start: 20%;
    inset-block-start: 50%;
    /* background: #e5e3d8; */
    background: #FFAC42;
    animation: fluidrotate2 45s ease 0s infinite;/*アニメーションの設定*/
    min-inline-size: 50%;
    min-block-size: 50%;
}

@keyframes fluidrotate2 {  
        
    70% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    84% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    0%, 100% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    14% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    28% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    42% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    56% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}


.top main > section:nth-of-type(2) > ul > li:nth-of-type(3) {
    inset-inline-start: 45%;
    inset-block-start: 20%;
    /* background: #eae1e4; */
    background: #CB3664;
    animation: fluidrotate3 40s ease 0s infinite;/*アニメーションの設定*/
    min-inline-size: 50%;
    min-block-size: 50%;

}

@keyframes fluidrotate3 {  
        
    42% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    56% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    70% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    84% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    0%, 100% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    14% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    28% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}

.top main > section:nth-of-type(2) > p {
    grid-area: CONCEPTDESC;
    line-height: 2.5em;
}

/* WORKS
===================================================================== */
.top main > section:nth-of-type(3) {
    grid-area: WORKS;
    margin-inline: 5%;
}

.top main > section:nth-of-type(3) > h2 {
    margin-block: 3em 1.5em;
}

.top main > section:nth-of-type(3) > article {
    margin-block-end: 5em;
}

.top main > section:nth-of-type(3) > article > h3 {
    display: inline-block;
    border-block-end: 1px solid;
    padding: 1em;
}

.top main > section:nth-of-type(3) > article > a {
    inline-size: 100%;
}

/* Japan Box */
.top main > section:nth-of-type(3) > article:nth-of-type(2) > a {
    border: 1px solid var(--color-border);
}

/* Next Dictionary */
.top main > section:nth-of-type(3) > article:nth-of-type(3) > a {
    border: 1px solid var(--color-border);
}

.top main > section:nth-of-type(3) > article > a > img {
    inline-size: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.top main > section:nth-of-type(3) > article > ul {
    display: grid;
    grid-template-areas:
        "CATEGORY WORKTITLE"
        "LINK GITHUB";
        grid-template-columns: 5em auto;
    gap: 0.5em;
    margin-block-start: 1em;
}

.top main > section:nth-of-type(3) > article > ul > * {
    font-size: 0.9em;
}

/*カテゴリー*/
.top main > section:nth-of-type(3) > article > ul > li:nth-of-type(1) {
    grid-area: CATEGORY;
    background-color: var(--color-bg-gray);
    padding-inline: 0.5em;
    display: flex; /* 中央配置 */
    justify-content: center; /* 水平方向に中央配置 */
    align-items: center; /* 垂直方向に中央配置 */
}

/*作品名*/
.top main > section:nth-of-type(3) > article > ul > li:nth-of-type(2) {
    grid-area: WORKTITLE;
    margin-block: 0;
    display: inline;
    font-weight: bold;
}

/*リンク*/
.top main > section:nth-of-type(3) > article > ul > li:nth-of-type(3) {
    grid-area: LINK;
}

/*GitHub*/
.top main > section:nth-of-type(3) > article > ul > li:nth-of-type(4) {
    grid-area: GITHUB;
}

.top main > section:nth-of-type(3) > article > p:nth-of-type(1) {
    font-weight: bold;
    margin-block: 0.5em;
}

/* ABOUT
===================================================================== */
.top main > section:nth-of-type(4) {
    grid-area: ABOUT;
    background-image: url('../images/white-simple-textured-design-background.jpg');
}

.top main > section:nth-of-type(4) > * {
    text-align: center;
    inline-size: 100%;
}

.top main > section:nth-of-type(4) > p:nth-of-type(1) {
    font-size: 2em;
}

.top main > section:nth-of-type(4) > p:nth-of-type(2) {
    margin-block-end: 2em;
    font-size: 0.8em;
}

.top main > section:nth-of-type(4) > p:nth-of-type(3) {
    margin-block-end: 5em;
    font-size: 0.9em;
    line-height: 2.4em;
    text-align: start;
}

/* SERVICE
===================================================================== */
.top main > section:nth-of-type(5) {
    grid-area: SERVICE;
}

.top main > section:nth-of-type(5) > div {
    grid-area: SERVICE;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em 2em;
}

.top main > section:nth-of-type(5) > div > section {
    text-align: center;
    margin: 2em;
}

.top main > section:nth-of-type(5) > div > section > * {
    inline-size: 100%;
}

.top main > section:nth-of-type(5) > div > section > h3 {
    margin-block: 0.5em;
    font-size: 0.7em;
    line-height: normal;
    block-size: 2.5em;
    display: flex; /*テキストを上下中央に*/
    justify-content: center; /*テキストを上下中央に*/
    align-items: center; /*テキストを上下中央に*/
}

.top main > section:nth-of-type(5) > div > section > p {
    display: block;
    margin: auto;
}

/* アイコン */
.top main > section:nth-of-type(5) > div > section > p:nth-of-type(1) {
    block-size: 3em;
}

.top main > section:nth-of-type(5) > div > section > p:nth-of-type(1) > i {
    block-size: 100%;
    inline-size: 100%;
    font-size: 2.5em;
}

/* CONTACT
===================================================================== */
.top main > section:nth-of-type(6) {
    grid-area: CONTACT;
}

.top main > section:nth-of-type(6) > div > section {
    margin-block-end: 1em;
}

.top main > section:nth-of-type(6) > div > section > h3 {
    display: none;
}

/* --------------- form --------------- */

#form dl {
    inline-size: 100%;
    margin-block-end: 1em;
}

#form dl > :is(dt, dd) {
    margin-block-end: 0.5em;
}

#form dl > dt::after {
    content: "必須";
    font-size: 0.8em;
    background-color: var(--color-warning);
    padding: 0.3em 0.5em;
    margin-inline: 0.5em;
    border-radius: 20%;
    color: #ffffff;
}

#form dl:not(:nth-of-type(5)) > dd {
    block-size: 3em;
}

#form dl:nth-of-type(5) > dd {
    block-size: 10em;
}

#form dl > dd > * {
    inline-size: 100%;
    block-size: 100%;
    padding: 0.5em;
}

/* 入力内容の確認ボタン */
#form p {
    margin-inline: auto;
}

/* =====================================================================
** ABOUT
===================================================================== */

.about main {
    display: grid;
    grid-template-areas:
        'A1'
        'A2'
        'A3'
        'A4'
        'A5'
        'A6';
}

.about main > h1 {
    display: none;
}

.about main > section:not(:nth-of-type(2)) {
    margin-inline: 2em; /*ABOUTページのmargin*/
}

/* 概要
===================================================================== */

.about main > section:nth-of-type(1) {
    grid-area: A1;
}

.about main > section:nth-of-type(1) > h2 {
    color: transparent;
    block-size: 10em;
    background-image: url('../images/white-simple-textured-design-background.jpg');
}

.about main > section:nth-of-type(1) > ul {
    display: grid;
    grid-template-areas:
        'PIC'
        'NAME'
        'JOB'
        'PLACE';
    text-align: center;
    justify-items: center; /* 画像を水平方向に中央揃え */
    align-items: center; /* 画像を縦方向に中央揃え */
    margin-block-start: -10em;
}

.about main > section:nth-of-type(1) > ul > li:nth-of-type(1) {
    grid-area: PIC;
    border-radius: 50%; /* 画像を円形にする */
    block-size: 10em;
    inline-size: 10em;
}

.about main > section:nth-of-type(1) > ul > li:nth-of-type(1) > img {
    display: block;
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
}

.about main > section:nth-of-type(1) > ul > li:nth-of-type(2) {
    grid-area: NAME;
    font-size: 1.2em;
    font-weight: bold;
    margin-block: 0.5em;
}

.about main > section:nth-of-type(1) > ul > li:nth-of-type(3) {
    grid-area: JOB;
}

.about main > section:nth-of-type(1) > ul > li:nth-of-type(4) {
    grid-area: PLACE;
}

/* 特徴
===================================================================== */

.about main > section:nth-of-type(2) {
    grid-area: A2;
}

.about main > section:nth-of-type(2) > h2 {
    display: none;
}

.about main > section:nth-of-type(2) > section > h3 {
    display: none;
}

/* --------------- キャッチコピー --------------- */
.about main > section:nth-of-type(2) > section:nth-of-type(1) {
    margin-inline: 2em; /*ABOUTページのmargin*/
    margin-block: 5em;
}

/* 日本語 */
.about main > section:nth-of-type(2) > section:nth-of-type(1) > p:nth-of-type(1) {
    font-size: 1.3em;
    margin-block: 0.3em;
    font-weight: bold;
    letter-spacing: 0.3em;
}

/* 英語 */
.about main > section:nth-of-type(2) > section:nth-of-type(1) > p:nth-of-type(2) {
    font-size: 0.8em;
}

/* --------------- 自己PR --------------- */
.about main > section:nth-of-type(2) > section:nth-of-type(2) > section {
    margin-block: 2.2em;
    margin-inline: 2em; /*ABOUTページのmargin*/
}

/*背景*/
.about main > section:nth-of-type(2) > section:nth-of-type(2)::before {
    content: '';
    position: absolute;
    inline-size: 50%; /*背景の幅を変更*/
    block-size: 100%;
    inset-inline-end: 0;
    inset-block-start: 0;
    background-image: url('../images/white-simple-textured-design-background.jpg');
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.about main > section:nth-of-type(2) > section:nth-of-type(2) > section > h4 {
    font-weight: bold;
    margin-block: 1.5em;
    font-size: 1.1em;
}

.about main > section:nth-of-type(2) > section:nth-of-type(2) > section > p {
    line-height: 2.2em;
}

/* 経歴
===================================================================== */

.about main > section:nth-of-type(3) {
    grid-area: A3;
}

.about main > section:nth-of-type(3) > div::before {
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 40px;
    inline-size: 2px;
    content: '';
    background-color: #000000;
}

.about main > section:nth-of-type(3) > div > dl {
    padding-inline-start: 80px;
    margin-block: 2em;
}

.about main > section:nth-of-type(3) > div > dl::before {
    position: absolute;
    inset-inline-start: calc(40px - 11px);
    display: inline-block;
    inline-size: 16px;
    content: '';
    background-color: #ffffff;
    border: 4px solid #000000;
    border-radius: 100%;
    block-size: 16px;
}

.about main > section:nth-of-type(3) > div > dl > dt {
    margin-block-end: 0.5em;
    font-size: 18px;
    font-weight: bold;
}

.about main > section:nth-of-type(3) > div > dl > dd {
    inline-size: 100%;
}

/* スキル
===================================================================== */

.about main > section:nth-of-type(4) {
    grid-area: A4;
}

.about main > section:nth-of-type(4) > dl {
    margin-block-start: 2em;
}

.about main > section:nth-of-type(4) > dl > dt {
    font-size: 1.1em;
    font-weight: bold;
    margin-block-start: 1em;
}

.about main > section:nth-of-type(4) > dl > dd {
    line-height: 1.5em;
}

.about main > section:nth-of-type(4) > dl > dd:nth-of-type(1) {
    margin-block: 0.5em;
    font-weight: 600;
}

/* 資格
===================================================================== */

.about main > section:nth-of-type(5) {
    grid-area: A5;
}

.about main > section:nth-of-type(5) > dl {
    margin-block: 1.5em;
}

.about main > section:nth-of-type(5) > dl > dt {
    font-size: 1.1em;
    font-weight: bold;
    margin-block-end: 0.3em;
}

.about main > section:nth-of-type(5) > dl > dd {
    font-size: 0.8em;
    color: var(--color-text-lightgray);
}

/* 趣味
===================================================================== */

.about main > section:nth-of-type(6) {
    grid-area: A6;
}

.about main > section:nth-of-type(6) > section:nth-of-type(2n + 1) {
    display: grid;
    grid-template-areas:
        'icon title'
        'icon text';
    grid-template-columns: 1fr 1fr;
    margin-block: 1.5em;
}

.about main > section:nth-of-type(6) > section:nth-of-type(2n) {
    display: grid;
    grid-template-areas:
        'title icon'
        'text icon';
    grid-template-columns: 1fr 1fr;
    text-align: end;
}

.about main > section:nth-of-type(6) > section > h3 {
    grid-area: title;
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

.about main > section:nth-of-type(6) > section > i {
    grid-area: icon;
    margin-block: auto;
    font-size: 3em;
    text-align: center;
}

.about main > section:nth-of-type(6) > section > p {
    grid-area: text;
}

/* =====================================================================
** WORKS
===================================================================== */

.works main > h1 {
    color: transparent;
    block-size: 10em;
    margin-inline: 2em; /*WORKSページのmargin*/
    background-image: url('../images/white-simple-textured-design-background.jpg');
}

.works main > section {
    margin-inline: 2em; /*WORKSページのmargin*/
}

/* タブ
===================================================================== */

.works main > section:nth-of-type(1) {
    display: flex;
    margin-block-start: -1em;
    align-items: center; /* 垂直方向中央揃え */
    justify-content: center; /* 水平方向中央揃え */
}

.works main > section:nth-of-type(1) > h2 {
    margin-block: 0;
    font-size: 1.1em;
    margin-inline-end: 1.2em;
}

.works main > section:nth-of-type(1) > ul {
    display: flex;
    font-size: 1.1em;
}

.works main > section:nth-of-type(1) > ul > li {
    margin-inline: 1em;
    display: flex;
    align-items: center; /* 垂直方向中央揃え */
    justify-content: center; /* 水平方向中央揃え */
}

/* 作品
===================================================================== */

.works main > section:not(:nth-of-type(1)) > article {
    display: grid;
    grid-template-areas:
        'THUMB'
        'TITLE'
        'DESC'
        'DETAIL'
        'dl';
    margin-block: 8em;
}

.works main > section:not(:nth-of-type(1)) > article > :is(a, div) {
    grid-area: THUMB;
}

.works main > section:not(:nth-of-type(1)) > article > :is(a, div) > img {
    inline-size: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.works main > section:not(:nth-of-type(1)) > article > h3 {
    grid-area: TITLE;
    font-size: 0.8em;
    margin-block: 1.5em 0.5em;
}

.works main > section:not(:nth-of-type(1)) > article > p:nth-of-type(1) {
    grid-area: DESC;
    font-weight: bold;
    margin-block: 0.5em;
}

.works main > section:not(:nth-of-type(1)) > article > p:nth-of-type(2) {
    grid-area: DETAIL;
}

.works main > section:not(:nth-of-type(1)) > article > dl {
    grid-area: dl;
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 0.1em 2em;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin-block: 1em;
    padding-block: 0.5em;
}

.works main > section:not(:nth-of-type(1)) > article > dl > :is(dt, dd) {
    font-size: 0.9em;
    line-height: 1.8em;
}

.works main > section:not(:nth-of-type(1)) > article > dl > dd:last-of-type > a {
    padding-inline-end: 1.5em;
}

/* 詳細はお問い合わせください
===================================================================== */

.works main > p {
    text-align: left;
    margin-block: auto 3em;
}

/* =====================================================================
** confirm.php
===================================================================== */

.confirm main {
    padding-inline: 1em;
    margin-inline: auto;
    min-block-size: calc(100vh - 5em); /* header 5em */
}

.confirm main > h1 {
    display: none;
}

/* --------------- メッセージ --------------- */
.confirm main > p {
    padding-block-start: calc(5em + 3em);  /* header 5em ＋　余白3em*/
}

/* --------------- 入力内容の表示 --------------- */
.confirm main > dl {
    margin-block: 2em;
}

/* ラベル */
.confirm main > dl > dt {
    margin-block: 1em 0.3em;
}

/* 入力した内容 */
.confirm main > dl > dd {
    line-height: 2em;
    border: 1px solid var(--color-border);
    padding: 0.5em;
}

/* --------------- ボタン --------------- */

.confirm main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 3em; /*footerとの間の余白*/
}

.confirm .btn02 {
    margin: 2em 1em;
}

/* =====================================================================
** complete.php
===================================================================== */

.complete main {
    padding-inline: 1em;
    margin-inline: auto;
    min-block-size: calc(100vh - 5em); /* header 5em */
}

.complete main > h1 {
    display: none;
}

/* --------------- メッセージ --------------- */
.complete main > p:nth-of-type(1) {
    padding-block-start: calc(5em + 3em);  /* header 5em ＋　余白3em*/
}

.complete .btn01 > a {
    margin-block-start: 5em;
    inline-size: calc(var(--logic-px) * 300);
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
** MEDIA QUERY DESIGN B(dlt)
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (width >= 600px) {
    /* タブレット用レイアウト 600px以上の範囲に収めるデザインはこの中に記述 */

    /* =====================================================================
    ** TOP
    ===================================================================== */

    .top main > section:nth-of-type(1) > div:nth-of-type(2) > p:nth-of-type(1) {
        font-size: 2.4em;
    }
    
    /*job description*/
    .top main > section:nth-of-type(1) > div:nth-of-type(2) > p:nth-of-type(2) > br {
        display: none;
    }    

    /* CONCEPT
    ===================================================================== */
    .top main > section:nth-of-type(2) {
        inline-size: min(var(--size-inline-wrapper), 75%);
        padding-inline: unset;
        margin-inline: auto;
        margin-block-start: 5em;
    }

    /* WORKS
    ===================================================================== */

    .top main > section:nth-of-type(3) {
        margin-inline: auto;
        inline-size: min(80%, 690px);
    }

    .top main > section:nth-of-type(3) > article > ul {
        display: flex;
    }
    
    .top main > section:nth-of-type(3) > article > ul > * {
        margin-inline-end: 1em;
    }
    
    /*カテゴリー*/
    .top main > section:nth-of-type(3) > article > ul > li:nth-of-type(1) {
        grid-area: CATEGORY;
        background-color: var(--color-bg-gray);
        padding-inline: 0.5em;
    }
    
    /*作品名*/
    .top main > section:nth-of-type(3) > article > ul > li:nth-of-type(2) {
        margin-block: 0;
        display: inline;
        font-weight: bold;
    }
    
    /*リンク*/
    .top main > section:nth-of-type(3) > article > ul > li:nth-of-type(3) {
        grid-area: CATEGORY;
    }
    
    /*GitHub*/
    .top main > section:nth-of-type(3) > article > ul > li:nth-of-type(4) {
        grid-area: CATEGORY;
    }    

    /* SERVICE
    ===================================================================== */
    .top main > section:nth-of-type(5) > div {
        grid-area: SERVICE;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em 2em;
    }

    .top main > section:nth-of-type(5) > div > section > h3 {
        font-size: 1.1em;
    }    

    /* CONTACT
    ===================================================================== */
    .top main > section:nth-of-type(6) > div {
        display: grid;
        grid-template-areas: 'MSG FORM';
        gap: 3em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .top main > section:nth-of-type(6) > div > section:nth-of-type(1) {
        grid-area: MSG;
    }

    .top main > section:nth-of-type(6) > div > section:nth-of-type(2) {
        grid-area: FORM;
    }

    /* =====================================================================
    ** ABOUT
    ===================================================================== */

    .about main > section:not(:nth-of-type(2)) {
        margin-inline: 10%; /*ABOUTページのmargin*/
    }

    /* 概要
    ===================================================================== */

    .about main > section:nth-of-type(1) > ul {
        display: grid;
        grid-template-areas:
            'PIC NAME'
            'PIC JOB'
            'PIC PLACE';
        text-align: unset;
        justify-items: unset;
        align-items: unset;
        margin-block-start: -10em;
        place-content: center;
        gap: 2em;
    }

    /* 特徴
    ===================================================================== */

    .about main > section:nth-of-type(2) {
        padding-inline-start: 10%; /*ABOUTページのmargin*/
    }

    /*背景*/
    .about main > section:nth-of-type(2) > section:nth-of-type(2)::before {
        width: 60%; /*背景の幅を変更*/
    }

    .about main > section:nth-of-type(2) > section:nth-of-type(2) > section {
        inline-size: 65%;
    }

    /* 経歴
    ===================================================================== */
    .about main > section:nth-of-type(3) {
        display: grid;
        justify-content: center;
    }

    /* 趣味
    ===================================================================== */

    .about main > section:nth-of-type(6) > section:nth-of-type(2n + 1) {
        grid-template-columns: 15% auto;
    }

    .about main > section:nth-of-type(6) > section:nth-of-type(2n) {
        grid-template-areas:
            'icon title'
            'icon text';
        grid-template-columns: 15% auto;
        text-align: start;
    }

    .about main > section:nth-of-type(6) > section > i {
        text-align: start;
    }

    .about main > section:nth-of-type(6) > section > p {
        inline-size: 100%;
    }

    /* =====================================================================
    ** WORKS
    ===================================================================== */

    .works main > section:not(:nth-of-type(1)),
    .works main > p {
        margin-inline: auto;
        inline-size: clamp(0px, 80%, 780px);
    }

    /* =====================================================================
    ** confirm.php / complete.php
    ===================================================================== */

    .confirm main,
    .complete main {
        inline-size: min(80%, calc(var(--logic-px) * 780));
    }
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
** MEDIA QUERY DESIGN C(PC)
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (width >= 1025px) {

    /* =====================================================================
    ** TOP
    ===================================================================== */
    .top {
        grid-template-areas:
            'header header header'
            'main main main'
            'footer footer footer';
    }

    .top main {
        display: grid;
        grid-template-areas:
            'hero hero hero'
            'CONCEPT CONCEPT CONCEPT'
            '. WORKS .'
            'ABOUT ABOUT ABOUT'
            '. SERVICE .'
            '. CONTACT .';
        grid-template-columns: 1fr clamp(1025px, 80%, 1720px) 1fr;
    }

    .top main > section:nth-of-type(1) {
        grid-area: hero;
    }

    .movie {
        display: unset;
    }
    
    .movie-video {
        object-fit: cover;
        block-size: unset;
        inline-size: 100%;
    }
    
    .top main > section:nth-of-type(1) > div:nth-of-type(2) {
        inline-size: min(80%, 1100px);
        margin-inline: auto;
        text-align: center;
    }

    .top main > section:nth-of-type(1) > div:nth-of-type(2) > p:nth-of-type(1) {
        margin-inline: auto 0;
        margin-block: auto;
        font-size: 2.8em;
    }

    .top main > section:nth-of-type(1) > div:nth-of-type(2) > h2 {
        text-align: center;
    }

    /* CONCEPT
    ===================================================================== */
    .top main > section:nth-of-type(2) {
        inline-size: var(--size-inline-wrapper);
        display: grid;
        grid-template-areas:
            "E3 CONCEPTTITLE"
            "E3 CONCEPTDESC";
        grid-template-columns: max(80vh, 50%) auto;
        margin-block-start: 10em;
        column-gap: 5em;
    }

    .top main > section:nth-of-type(2) > h2 {
        margin-block: unset;
    }

    /* ABOUT
    ===================================================================== */
    .top main > section:nth-of-type(4) > * {
        inline-size: var(--size-inline-wrapper);
        margin-inline: auto;
    }

    /* SERVICE
    ===================================================================== */

    .top main > section:nth-of-type(5) > div > section > h3 {
        font-size: 1.2em;
    }
    
    /* =====================================================================
    ** ABOUT
    ===================================================================== */

    /* 特徴
    ===================================================================== */

    .about main > section:nth-of-type(2) > section:nth-of-type(2) > section {
        inline-size: 55%;
    }

    /* 経歴
    ===================================================================== */
    .about main > section:nth-of-type(3) {
        display: block;
        inline-size: 980px; /*固定 800px*/
        margin-inline: auto;
    }

    .about main > section:nth-of-type(3) > div::before {
        inset-inline-start: 50%;
    }

    .about main > section:nth-of-type(3) > div > dl {
        padding-inline-start: 0;
    }

    .about main > section:nth-of-type(3) > div > dl:nth-of-type(2n + 1) {
        padding-inline-start: 55%;
    }

    .about main > section:nth-of-type(3) > div > dl:nth-of-type(2n) {
        padding-inline-end: 55%;
        text-align: end;
    }

    .about main > section:nth-of-type(3) > div > dl::before {
        inset-inline-start: calc(50% - 10px);
    }

    /* =====================================================================
    ** WORKS
    ===================================================================== */

    .works main > section:not(:nth-of-type(1)) > article {
        display: grid;
        grid-template-areas:
            'THUMB TITLE'
            'THUMB DESC'
            'THUMB DETAIL'
            'dl dl';
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
        inline-size: 100%;
    }

    .works main > section:not(:nth-of-type(1)) > article > dl {
        grid-template-columns: 10% 85%;
    }

    /* 詳細はお問い合わせください
    ===================================================================== */

    .works main > p {
        text-align: center;
    }

}